<section class="abstract" id="abstract">
    <h2 class="title">Привет! Меня зовут Михота Мария и я -  бэкенд разработчик на Go</h2>
    <h5 class="text"><br>
      Если вы ищете исполнительного и талантливого разработчика, то вы по адресу!</br>
    </h5>
</section>

  <script>

        const textObj = new Textify({
        selector: ".abstract .text",
        duration: 2000,
        stagger: 100,
        fade: true,
        top: false,
        once: false,
        rotation: 0,
        scale: 0.75,
        easing: "easeOut",
        fadeEasing: "back"
        });

        const titleObj = new TextifyTitle({
        selector: ".abstract .title",
        duration: 200,
        stagger: 30,
        fade: true,
        top: false,
        reveal: true,
        once: false,
        rotation: 90,
        scale: 0,
        easing: "easeIn",
        threshold: 0.5,
        transformOrigin: "left center",
        faseEasing: "back"
        });

        /* SmoothScroll */
        var scroll = new SmoothScroll();

  </script>

{{ template "expirience.html" . }}